---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alva Vially</title>
  </head>

  <body>
    <h1>Alva Vially</h1>
    <img src="/assets/img/alva.jpg" alt="">
    <p>
      Hey, I'm Alva Vially, a PHP/Laravel webdev currently based in Lyon, France. <br>
      My interests include FOSS, minimalism and the impact of technology on our societies and environments.
    </p>

    <nav>
      <ul>
        {% for item in site.data.nav %}
          {% if item.in_home == "1" %}
            <li>
              <a href="{{ item.link }}">{{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <h2>Updates</h2>
    <ol>
      {% for post in site.posts limit: 3 %}
        <li>
          {{ post.date | date: "%y-%m-%d" }}
          <span aria-hidden="true">|</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ol>
    {% if site.posts.size > 3 %}
      <p>
        <a href="/updates">See more updates</a>
      </p>
    {% endif %}

    <h2>Articles</h2>
    <ul>
      {% assign articles = site.articles | sort: "update" %}
      {% for article in articles reversed limit: 3 %}
        <li>
          <a href="{{ article.url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if site.articles.size > 3 %}
      <p>
        <a href="/articles">See more articles</a>
      </p>
    {% endif %}

    <h2>Projects</h2>
    {% comment %}
    articles and projects
    {% endcomment %}</body>
</html>