---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <h1>Alva Vially</h1>
    <main>
      <div class="introduction">
        <img src="{% link /assets/img/alva.jpg %}" alt="">
        <div>
          <p>Hey, I'm Alva Vially, a freelance PHP/Laravel webdev currently based in Lyon, France.</p>
          <p>My interests include FOSS, minimalism and the impact of technology on our societies and environments.</p>
          {% include nav.html home=1 %}
        </div>
      </div>

      <h2>Updates</h2>
      {% include update-list.html limit=3 more=1 %}

      <h2>Articles</h2>
      {% include article-list.html limit=3 more=1 %}

      <h2>Projects</h2>
      {% include project-list.html limit=3 more=1 %}
    </main>
  </body>
</html>