---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alva Vially</title>
  </head>

  <body>
    <h1>Alva Vially</h1>
    <img src="/assets/img/alva.jpg" alt="">
    <p>
      Hey, I'm Alva Vially, a PHP/Laravel webdev currently based in Lyon, France. <br>
      My interests include FOSS, minimalism and the impact of technology on our societies and environments.
    </p>

    <nav>
      <ul>
        {% for item in site.data.nav %}
          {% if item.in_home == "1" %}
            <li>
              <a href="{{ item.link }}">{{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <h2>Updates</h2>
    {% include update-list.html limit=3 %}
    {% if site.posts.size > 3 %}
      <p>
        <a href="/updates">See more updates</a>
      </p>
    {% endif %}

    <h2>Articles</h2>
    {% include article-list.html limit=3 %}
    {% if site.articles.size > 3 %}
      <p>
        <a href="/articles">See more articles</a>
      </p>
    {% endif %}

    <h2>Projects</h2>
    {% include project-list.html limit=3 %}
    {% if site.projects.size > 3 %}
      <p>
        <a href="/projects">See more projects</a>
      </p>
    {% endif %}

  </body>
</html>