<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.js %}
    <script src="{% link {{ page.js }} %}" defer></script>
  {% endif %}
  <link rel="shortcut icon" href="{{ "./favicon.ico" | relative_url }}" type="image/x-icon">
  {% feed_meta %}
  <link rel="stylesheet" href={{ "/style.css" | relative_url }}>
  {% if page.highlight %}
    <link rel="stylesheet" href={{ "/highlight.css" | relative_url }}>
  {% endif %}
  {% if page.title %}
    <title>{{ page.title }} ‑ {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
</head>