$color-bg: #090909;
$color-main: white;

body {
    background-color: $color-bg;
    color: $color-main;
    font-family: sans-serif;
    min-height: 100vh;
    font-size: 16px;
}

a {
    color: $color-main;
}

/* =============================================================================
    Width & alignment
============================================================================= */

h1,
h2 {
    text-align: center;
}

h3,
h4 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: left;
}

main {
    figure {
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;

        pre {
            margin-left: auto;
            margin-right: auto;
            max-width: 650px;
        }
    }

    p,
    dl,
    ul,
    ol {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    div {
        max-width: none;
    }
}

/*  introduction alignment
============================================================================= */
.introduction {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    * {
        margin-left: 0;
        margin-right: 0;
        height: min-content;
    }
}

/* =============================================================================
    Icon decoration
============================================================================= */
.icon-feed::after {
    vertical-align: -20%;
    content:url("/assets/img/icons/feed.png");
    padding-left: .25em;
} 