$color-bg: #090909;
$color-main: white;
$width-normal: 600px;
$width-large: 700px;

body {
    background-color: $color-bg;
    color: $color-main;
    font-family: sans-serif;
    font-size: 16px;
}

a {
    color: $color-main;
}

/* =============================================================================
    Width & alignment
============================================================================= */

h1,
h2 {
    text-align: center;
}

h3,
h4 {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-normal;
    text-align: left;
}

main {

    figure,
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: min($width-large, 100%);
    }

    figure pre {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-normal;
    }

    img {
        display: block;
        border-color: $color-main;
        border-style: solid;
        border-width: 1px;
        max-height: 80vh;
    }

    dd+dt {
        margin-top: .8em;
    }

    dt {
        font-weight: bold;
    }

    p,
    dl,
    ul,
    ol {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-normal;
    }

    div {
        max-width: none;
    }
}

p,
li {
    line-height: 1.5em;
}

/*  Figures
============================================================================= */

figure img {
    max-width: 100%;
}

figure figcaption {
    max-width: $width-normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size: .8em;
}

figure pre {
    overflow: scroll;
}

/*  Introduction alignment
============================================================================= */
.introduction {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    * {
        margin-left: 0;
        margin-right: 0;
        height: min-content;
    }
}

/*  Project links
============================================================================= */
.project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
}

/* =============================================================================
    Icon decoration
============================================================================= */
.icon-feed::after {
    vertical-align: middle;
    content: url($baseurl + "/assets/img/icons/feed.png");
    padding-left: .25em;
}

/* =============================================================================
    Nav elements
============================================================================= */
nav>ol,
nav>ul {
    li>a {
        display: inline-block;
        line-height: 1.5em;
        padding: .2em 0;
        vertical-align: middle;
    }
}

nav>ol li {
    list-style-type: none;
}

/*  Breadcrumb
============================================================================= */
nav.breadcrumb {
    font-family: monospace;
    font-size: .8em;
    max-width: $width-large;
    margin-left: auto;
    margin-right: auto;

    a {
        margin: 0;
    }

    a::before {
        content: '/ ';
        display: inline-block;
        text-decoration: none;
    }

    li {
        display: inline;
    }

    ol {
        padding: 0;
    }
}

/* =============================================================================
    Cards
============================================================================= */

nav.cards {
    ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding-left: 0;
    }

    li.card {
        align-self: start;
        border-color: $color-main;
        border-style: solid;
        border-width: .1em;
        list-style-type: none;
        margin: 0;
        max-width: 400px;
        width: 100%;

        a,
        p {
            margin: .5em;
            padding: 0;
        }

        img {
            border-color: $color-main;
            border-style: solid;
            border-width: 1px 0;
            display: block;
        }
    }

    p {
        text-align: center;
    }
}

/* =============================================================================
    Kbd
============================================================================= */

kbd {
    background-color: $color-main;
    border-radius: .25em;
    color: $color-bg;
    display: inline-block;
    padding: .25em .25em;
}

/* =============================================================================
    Header
============================================================================= */

p.date {
    margin-top: 0;
    text-align: center;
    font-size: .9em;
    font-style: italic;
}

/* =============================================================================
    Footer
============================================================================= */

footer>nav {
    border-bottom-color: $color-main;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 4em;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding-right: 1em;
}